Body {
  background-color: lightblue;
  color: black;
  font-size: 30px;
}


.container {
  padding: 10px;
  margin: auto;
  /* width: 10vw; */
  background-color: aquamarine;
  text-align: center;
  border-radius: 10px;
}

*,
body,
html {
  box-sizing: border-box;
}

.para1 {
  background-color: aquamarine;
  border-radius: 10px;
  margin-top: 10px;
  margin: auto;
  text-align: center;
 
  padding: 20px;
  width: 30vw;
  margin-bottom: 30px;
}

.Stickbug {
  width: 30vw;
  align-items: center;
}

.golden{


width: 30vw;
align-items: center;


}

.oreo{

width: 40vw;
align-items: center;

}
