Body {
    background-color: lightblue;
    color: black;
    font-size: 30px;
}



.para1 {
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 10px  ;
    
    
    
}

.para2 {
   
    color: black;

    background-image: url();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 5vh;
    text-align: center;
    
}

.para3 {

    Display: flex;
    justify-content: center;
    height: 10px;

}

.para4{

    text-align: center;
    margin: auto;
    width: 10vh;


}