Body {
    background-color: lightblue;
    color: black;
    font-size: 30px;
}



.para1 {
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    
    
    
}

   
    color: black;

    background-image: url();
    text-align: center;
}

.para3 {





